<div class="container-1">
  <div class="form-group form-margin">
   <h4>Wyznaczanie klasy przekroju</h4>
   <div class="container">
      <form [formGroup]="FormForHT" (ngSubmit)="passHT()">
      
        <label for="h" >Podaj wartość h : </label>
        <input id="h" type="number" formControlName = "h" class="form-control">

        <label for="t" >Podaj wartość t : </label>
        <input id="t" type="number" formControlName="t" class="form-control">

        <button [disabled]="!FormForHT.valid" type="submit" class="btn btn-primary" >Zatwierdź</button>
      </form>
    
   </div>
  </div>
 


  <a routerLink ="/">
    <button class="btn btn-secondary">Go to results again</button>
  </a>
</div>
