.container-results{
  
  display:flex;
  flex-direction: column;
  align-items: center;
}

.table-res{
  flex-direction:column;
  min-width:90%;
}

  tr:nth-child(even) {
    background-color: #f2f2f2; 
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 10px;
  }
  tab-border{
    border-color:rgb(133, 117, 117);
  }

  tbody tr:nth-child(1) td {
    background-color: rgb(245, 188, 3); 
  }

  a{
    text-decoration: none;
  }