table {
    border-collapse: collapse; /* Ensures that the border is neat */
    width: 100%; 
    margin:1%;/* Adjust as needed */
  }
  
  td, th {
    border: 1px solid black; /* Adds border around each cell */
    border-radius: 5%;
    text-align: left; /* Adjust text alignment as needed */
    padding: 8px; /* Adjust padding as needed */
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2; 
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 10px;
  }

  tbody tr:nth-child(1) td {
    background-color: rgb(245, 188, 3); 
  }