
/*
div::before {
  content: 'Nowy wiersz';
  display: inline;
  border: 1px solid red;
}
div::after {
  content: '--';
  display: block;
  border: 1px solid green;
}
*/
.card-my {
  width: 393px;
  color:rgb(59, 129, 91);
  background-color:rgba(72, 64, 80,.1);
}