.card-my {
  width: 393px;
  color:rgb(58, 25, 47);
  background-color:rgba(46, 40, 10, 0.1);
}
a {
 text-decoration: none;
 align-items: center;
}

.bckg{
  width:100%;
  
}
.bckg::after {
  content: "";
  background: url("../../assets/view/images/building-4.png") no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
  width:100vw; 
  
}

.card-results{
  font-size: 2rem;
  font-weight: 700px;
  width: 18rem;
}
