
<div class="container" style="display:flex; align-items:flex-start; column-gap: 8px;margin-top:20px;">
<ng-container class="card" style="background-color:rgb(236, 236, 135);">
  <div class="flexdiv">
      <div class="card" style="width: 20rem;height:36rem;margin-left:3rem;">


        <form [formGroup] = "steelForm" ngSubmit="submitForm()" >
          <div class="form-control form-rounded">
            <!-- Rozpiętość obliczeniowa belki l0   -->
            <label>
              <table>
                <tr><td>Rozpiętość obliczeniowa belki: &nbsp;</td>
                 <td style="font-weight:700;background-color:rgb(171, 209, 184);">m</td>
                </tr>
              </table>
            </label>
            <input class="form-control form-rounded" type="number" formControlName="l_0">

            <!-- Typ stali steelType -->
            <!-- <label>Typ stali</label>
              <input class="form-control form-rounded" type="text" formControlName="steelType"> -->

              <label>Typ stali</label>
              <select formControlName="steelType" class="form-select form-rounded">
                <option *ngFor="let types of typesS" [ngValue]="types" >
                  {{ types }}
                </option>
              </select>

            <!-- Obciążenie obliczeniowe q -->
            <label>
              <table>
              <tr><td> Obciążenie obliczeniowe:  &nbsp;</td>
                <td  style="font-weight:700;background-color:rgb(171, 209, 184);">
                  <div class="numer">kN </div>
                  <div class="denom">m </div>
                </td>
              </tr>
              </table>
            </label>
            <input class="form-control form-rounded" type="number" formControlName="q">

            <!-- Siła poprzeczna V  -->
            <label>Siła poprzeczna </label><span style="font-weight:700;background-color:rgb(171, 209, 184);">kN</span>
              <input class="form-control form-rounded" type="number" formControlName="V">

            <!-- Obciążenie charakterystyczne qk -->
              <label>
              <table >
                <tr><td> Obciążenie charakterystyczne:  &nbsp;</td>
                <td style="font-weight:700;background-color:rgb(171, 209, 184);">
                  <div class="numer"> kN </div>
                  <div class="denom">m </div>
                </td>
                </tr>
              </table>
            </label>
            <input class="form-control form-rounded" type="number" formControlName="qk">

            <!-- Moment zginający M -->
            <label>Moment zginający </label><span style="font-weight:700;background-color:rgb(171, 209, 184);">m</span>
              <input class="form-control form-rounded" type="number" formControlName="M">

          <button [disabled] = "!this.steelForm.valid" type="submit" class="btn btn-primary" style="margin-top:2rem;"
            data-toggle="tooltip"
            tooltipClass="round"
            data-placement="top"
            title="Tooltip on top"
            (click) = "this.submitForm()"
          >Oblicz</button>
          
          </div>
        </form>
        <h1>{{steel}}</h1>
      </div>
      <!-- <div   class="card" style="width: 20rem;height:36rem;margin-left:3rem;">
        <form name="forPy" method="post" >
            <input type="text" [(ngModel)] = "result.name" name = "name">
            <input type="text" [(ngModel)]= "result.userName" name = "userName"><br>
            <button (click) = onSubmitFormPyForm()>submit this</button>
        </form>
      </div> -->

      <!-- <div class="card card-my">
        <div class="card-header">
          Featured
        </div>
        Hello World
      </div> -->
  </div>
</ng-container>

<div class="card" style="display:flex;font-size: 2rem; margin:auto; font-weight: 700px;width: 18rem;">
    <a routerLink ="/results">
       results
    </a>
</div>
</div>




