.card {
    width:70%;
    height:3%;
    
}
.card-blue{
    background: rgb(246, 246, 248);
    background: linear-gradient(90deg, rgb(6, 2, 83) 0%, rgba(121,52,9,1) 50%, rgb(243, 218, 104) 100%);
    color:rgb(243, 250, 223);
    margin-left:2%;
    margin-right: 5%;
    margin-top:1%;
    width:80%;
    font-size:2em;
}
.card-title{
 width:80%;
 height:5%;
 margin-left:2%;
 
}