a{
    text-decoration: none;
    align-items:center;
}

.form-margin{
    margin:10%;
    margin-left:50%;
    display:flex;
    flex-direction:column;
    gap:13%;
    height:auto;
}
.input-box{
    width:auto;
    height: 60%;
}
.marginLeft{
    margin-left:2%;
}
c-size{
   width: 50%;
   background-color: rgb(201, 168, 216);
}